@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', cursive;
}

#usuário{
    padding-left: 20px;
    height: 40px;
    margin-left: 45px;
    margin-bottom: 30px;
    width: 560px;
}

#senha{
    height: 40px;
    padding-left: 20px;
    margin-left: 45px;
    margin-bottom: 30px;
    width: 560px;
}

#email{
    height: 40px;
    padding-left: 20px;
    margin-left: 45px;
    margin-bottom: 30px;
    width: 560px;
}

.user-name{
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.user-email{
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.passwd{
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 40px;
}

#nav{
    width: 100%;
    height: 7vw;
    background-color: black;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
}

#esq-senha{
    font-size: 12px;
    text-decoration: underline;
    color: #626161;
    margin-left: 480px;
    margin-top: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.card{
    background-color: black;
    max-width: 750px;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    margin-top: 260px;
    margin-left: 970px;
    height: 450px;
}

.card2{
    background-color: black;
    max-width: 750px;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    margin-top: 260px;
    margin-left: 970px;
    height: 450px;
}

.label-float{
    text-align:left;
    color: white;
    border: 0;
    padding-left: 50px;
}
    
    .justify button{
        position: center;
        width: 30%;
        height: 40px;
        cursor: pointer;
        background: #626161;
        color: white;
        border: 0;
        margin-bottom: 30px;
        margin-left: 220px;
        font-size: 20px;
        font-weight: 600;
    }

    
    h4{
        width: 50%;
        height: 30px;
        cursor: pointer;
        background: #2e2e2e;
        color: white;
        left: 70%;
        top: 50%;
        border: 0;
    }

    .container .card p{
        text-align:left;
        color: white;
    }
    
    
    form input[type=text],
    form input[type=password]{
        height: 60px;
        width: 50px;
        border: 1px solid #ccc;
        padding-left: 10px;
        margin: 10px 0;
    }
        
    .container .card .entrar{
        position:center;
        cursor: pointer;
        background: #2e2e2e;
        color: white;
        left: 80%;
        top: 80%;
        border: 0;
    }

    body{
        background-color:#2e2e2e;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }
    
    #ag_logo{
        position: absolute;
        width: 9%;
        height: 100%;
        color: black;
        margin-left: 1vw;
    }
    
    h2{
        color: white;
        font-size: 1.7vw;
        font-weight: 800;
    }
    
    .entrar{
      margin-left: 500px;
      margin-top: 90px;
      font-size: 30px;
    }

    .inicio{
        margin-top: 7px;
        margin-left: 28vw;
    }
    
    .sobre{
         margin-left: 238px;
         margin-top: 7px;
    }

    a{
        text-decoration: none;
    }
    
    #login_btn{
        width: 15%;
        background-color: #626161;
        color: white;
        margin-left: 269px;
        font-size: 1.5vw;
        font-weight: 800;
        border: none;
        padding-left: 14px;
        padding-right: 95px;
    }
    
    span{
        color: white;
        font-size: 1.3vw;
        font-weight: 800;
    }
    
    .resgatar{
        position: absolute;
        margin-left: 83vw;
    }
    
    #nav2{
        height: 4vw;
        background-color: black;
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 8%;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
    }
    
    .rodape{
        margin-top: auto;
        width: 100%;
        height: 7vw;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    }
    
    p{
        color: white;
        font-size: 15px;
    }
    
    .ano{
        position: absolute;
        margin-top: 5%;
    }
    
    h5{
        color: white;
        font-size: 1.4vw;
        font-weight: 800;
    }
    
    .reembolso{
        position: absolute;
        margin-left: 18vw;
    }
    
    .suporte{
        position: absolute;
        margin-left: 36vw;
    }
    
    .termos{
        position: absolute;
        margin-left: 52vw;
    }
    
    .contato{
        position: absolute;
        margin-left: 73.5vw;
    }
    
    #ag_logo2{
        position: absolute;
        width: 6vw;
        height: 6vw;
        color: black;
        margin-left: 90vw;
    }